<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.anb{
	background-color: #f4d3ce !important;
}

/*
Aqui pueden cambiar el color de la alerta, coloquen el codigo del color en el
segmento de codigo que esta arriba

.anb{
	background-color: #f4d3ce <--- !important;
}

*/ 

</style>
<!-- end Simple Custom CSS and JS -->
