<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.caja .elementor-column-wrap {
  -webkit-box-shadow: 10px 15px 15px 0px rgba(32, 32, 35, 0.2);
  box-shadow: 10px 15px 15px 0px rgba(32, 32, 35, 0.2);
}

.titulo {
  font-size: 42px;
  position: relative;
  display: inline;
}

.titulo:after {
  content: url(especial.svg);
  position: absolute;
  top: -50px;
  z-index: 99;
  left: 50%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: visible;
}

.nv-page-title {
  display: none;
)

.beFotter {
  width: 100%;
  height: 300px;
  background: red;
)</style>
<!-- end Simple Custom CSS and JS -->
