<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 10px 15px 15px 0px rgba(32, 32, 35, 0.2);
  box-shadow: 10px 15px 15px 0px rgba(32, 32, 35, 0.2);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 300px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.caja01, .caja02 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.caja01 {
  background-image: url("http://beonixemprende.com/wp-content/uploads/2019/06/Untitled-1.jpg");
}

.caja02 {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caja02Title {
  margin: 0;
  letter-spacing: 1.5px;
  font-family: Montserrat;
  font-size: 22px;
}

.caja02Btn {
  background: #F4D3CE;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: all linear .25s;
}

.caja02Btn:hover{
  background-color: #e9afa6;
  color: white !important;
}

.caja02Parrafo {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 1.5px
}

.caja02Tags {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: gray;
  margin-top: -5px
  letter-spacing: 1.5px
}

.test{
  width: 100%
  height: 200px;
}

.entry-header{
  display: none;
}
</style>
<!-- end Simple Custom CSS and JS -->
