				@font-face {
					font-family: 'bell';
					src: url('/wp-content/uploads/useanyfont/190720103447Bell.woff') format('woff');
				}

				.et_gf_bell{background:none !important;font-family:bell;text-indent:0 !important;font-size:25px;}

		