				@font-face {
					font-family: 'bell';
					src: url('/wp-content/uploads/useanyfont/190720103447Bell.woff') format('woff');
				}

				.bell{font-family: 'bell' !important;}

						.BellFont{
					font-family: 'bell' !important;
				}
		